body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.app{
    position: relative;
    margin: 0 auto;
    max-width: 480px;
    height: 100vh;
    padding: 20px 10px 10px;
    overflow: hidden;
}

.home-screen{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.home-screen .curtain-top ,
.home-screen .curtain-bottom
{
    background-color: wheat;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:40px;
    font-weight: 400;
    font-family: 'Lobster', cursive;
}

.loader {
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);
}

.loader:before, .loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
}

.loader:before {
    animation: loader-before 2s infinite;
}

.loader:after {
    animation: loader-after 2s infinite;
}

.help{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.help:hover{
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.timer{
    font-size:40px;
}

.timer > .label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.timer > .label img{
    width: 15%;
    height: 15%;
    object-fit: cover;
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.high-score {
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: rgb(27, 24, 24);
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}

.number{
    margin: 0 auto;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

.number .number-1, .number .number-2{
    padding: 10px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    cursor: pointer;
}

.number img{
    width: 20%;
    height: 20%;
    margin: 0 10px;
    animation: icon-dance2 alternate 1s ease-in-out infinite;
}

.app-modal .overlay{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    transition: all 0.2;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 310px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}

.modal-btn-close {
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    transition: all .1s ease-in-out;
    font-size: 1rem;
    font-weight: border;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    line-height: 23px;
    outline: none;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.modal-btn-close:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.help-notifi {
    animation:hidenModal .8s 1 ease-out;
}

.help-notifi-container {
    margin-top: 30px;
    font-size: 20px;
    max-height: 60vh;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.help-notifi-container::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}

.help-notifi-title {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.help-notifi-content{
    text-align: left;
}

.help-content-list{
    list-style: none;
    padding-left: 0;
    text-align: center;
    padding: 10px;
}

.help-content-list li {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .5rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.help-content-list li:hover{
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.help-content-list li:not(.help-content-list li:first-child){
    margin-top: 10px;
}

.help-option {
    animation: show-content .5s 1 ease-in-out ;
    margin: 0 auto;
}

.contact-content{
    /* padding: 10px; */
    font-size: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    text-align: center;
}
.contact-content .author-img{
    margin: 10px auto;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 1000px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 1s ease-in-out;
}

.contact-content .author-img:hover{
    transform: rotate(360deg) scale(2);
}
.contact-content .author-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-content .author-info{
    font-weight: 400;
    width: 100%;
}

.author-info span{
    font-weight: 500;
    color:#1c1b1b;
}


.author-info-icon{
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.author-info-icon li{
    position: relative;
    z-index: 1;
    width: 38px;
    height: 38px;
    transition: all 0.5s;
    margin: 0 5px;
    border-radius: 10px;
    overflow: hidden;
}

.author-info-icon li a {
    display: block;
}

.author-info-icon li:hover{
    transform: rotate(360deg) scale(1.6);
}

.history-play-content{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction:column;
    min-height: 30vh;
    position: relative;
}

.history-play-img{
    display: none;
}

.history-play-icon{
    display: none;
}

.history-play-content p{
    font-size:20px;
    font-weight: 500;
    color: #1c1b1b;
    margin: 0;
}
.history-play-content--no .history-play-img{
    display: block;
    width: 20%;
    height: 20%;
    margin: 10px 0;
}

.history-play-content--no .history-play-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.history-play-content--no .history-play-icon{
    display: block;
    width: 30%;
    height: 30%;
    margin-top: 20px;
    animation: icon-dance2 alternate 1s infinite ease-in-out;
}

.history-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    font-size:20px;
    font-weight: 500;
    padding: 10px;
    width: 100%;
}

.history-item{
    padding: 10px;
    border-radius:10px;
    transition: all 0.5s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px;
}

.history-item-r,
.history-item-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s;
}

.history-item-c{
    margin-bottom: 10px;
}

.help-content-list
.result-container {
    margin-top: 30px;
    font-size: 20px;
    min-height: 20vh;
    max-height: 50vh;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.result {
    font-weight: 600;
    font-size: 20px;
}

.result-container::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}

.result-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
}

.result-title--lose{
    color: #FF6651;
}

.result-title--win{
    color: #20E3B2;
}

.result-icon{
    display: block;
    margin: 10px auto;
    width: 42px;
    height: 42px;
    transform:scale(1.4);
    animation : icon-dance 2s 1 ease-in-out, icon-dance2 alternate 2s 2s infinite ease-in;
}


.result-content{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.as-range {
    position: relative;
    height: 10px;
    border-radius: 20px;
    width: 90%;
    overflow:hidden;
    margin: 5px 0;
}

.as-range-old {
    position: relative;
    height: 10px;
    border-radius: 20px;
    width: 90%;
    overflow:hidden;
    margin: 5px 0;
}

.as-range-rounds {
    position: relative;
    height: 10px;
    border-radius: 20px;
    width: 90%;
    overflow:hidden;
    margin: 5px 0;
}

.as-range span,
.as-range-old span, 
.as-range-rounds span {
   width: 0%;
    content: "";
    position: absolute;
    top: 0;
    left: 0; 
    height: 100%;
    transition: all 2s ease-in;
}

.as-range--low{
    background-color: #ff65518a;
}

.as-range--low span{
    background-color: #FF6651;
}

.as-range--medium{
    background-color: #ffff804b;
}

.as-range--medium span{
    background-color:#e8e81a;
}

.as-range--high{
    background-color: #20e3b268;
}

.as-range--high span{
    background-color:#00b185;
}

.control{
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-btn{
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

.play-btn:hover{
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.play-btn:focus{
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.messages{
    position: absolute;
    top: 130px;
    right: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 20px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 5px solid black;
    transform: translateX(120%);
    transition: all .6s;
    z-index: -1;
    font-size: 20px;
}

.messages.show{
    transform: translateX(0);
}

.messages.correct{
    border-left-color: #20E3B2;
}

.messages.wrong{
    border-left-color: tomato;
}

.messages.correct .messages-correct-icon{
    color: #20E3B2;
}

.messages.wrong  .messages-wrong-icon{
    color: tomato;
}

.messages-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
